.container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 0.3rem;
}


.left{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.container div{
    font-size: 0.5rem;
}

.container i{
    font-size:1rem;
}