.container{
    width: 100%;
    height: 100%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    cursor:pointer;
}

.container:hover{
    border: 2px solid #72DB73;

}

.container > p{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    /* background-color: blue; */
    padding: 0px 20px;
    width: 100%;
    color: white;
}

.container > div{
    width: 80%;
    height: 70%;
    /* background-color:red; */
    margin: auto;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

