@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Single+Day&display=swap');

.app{
    width: 100%;
    height: 100vh;
    background-color:black;
}

